/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.clearfix:after {
    display:table;
    content:'';
    clear:both;
}

i {
    color: #7a8284;
    font-size: 18px;
    cursor: pointer;
}
i:hover {
    color:lightskyblue;
}

.header-col {
    height: 70px; 
    width: 100%;
    display: flex;   
    justify-content: space-between;
    align-items: center;    
    background-color: #eaeaea;
    padding: 5px 15px;
}

.user-avatar {    
    display: flex;        
    align-items: center;
}

.avatar-img {
    width: 40px;
    height: auto;
}

.user-avatar img {
    border-radius: 50%;
}

.user-avatar .avatar-name {
    font-size: 12px;       
}
.user-avatar .access {
    padding-top: 5px;
    font-size: 11px;
    font-weight: 100;
}
.user-info {
    padding-left: 10px;
}


.header-symbols i {
    padding-left: 10px
}

/* Background app wrapper */
#bg-app-wrapper {
    height: 100vh;
    width: 100%;
    background: rgb(0,149,135);
    background: linear-gradient(180deg, rgba(0,149,135,1) 20%, rgba(213,218,216,1) 20%); 
    position: relative;   
}


/* App container */
#app-container {
    width: 85%;
    height: 90vh;
    margin: auto;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;   
}


/* LEFT COLUMN */
#app-left-cl {
    background-color: white;
    height: 100%;
    width: 400px;
    overflow: hidden;        
}

/* Notifications */
.notifications {
    padding: 15px 15px;
    background-color: #8edafb;
    display: flex;
}

.notifications .bell  {   
    border-radius: 50%;
    background-color: white;
    padding: 10px;    
}

.notifications .bell  i {
    color: #8edafb;
}

.notify-msg {
    font-size: 12px;
    font-weight: 500;
    margin-left: 15px;
}

.notify-msg a {
    color: grey;
}

/* Search contacts */

.contacts-filter {
    background-color: #fafafa;
    padding: 15px;
}
.search-contacts {
    background-color: white;
    padding: 8px 15px;
}

.search-contacts i {
    padding-right: 15px;
}

.search-contacts input {
    border: 0;
    width: 80%;
    padding: 7px;
}

/* Contacts-container */

.contacts-container {
    padding: 20px 15px;    
    overflow-y: auto; 
    height: calc(100% - 215px);
}

.contacts-list {
    list-style-type: none;         
}

.single-contact {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    cursor: pointer;
}

.contact-id {
    display: flex;
}

.single-contact:hover {
    background-color: lightgray;
}

.single-contact.active {
    background-color: lightgray;
}
.contact-avatar { 
    width: 45px;
    margin-right: 25px;
}

.contact-avatar img {
    border-radius: 50%;
}

.contact-name {
    font-size: 14px;
    font-weight: 700;
}


.name-last_msg-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.single-contact .last-message {
    font-size: 11px;
}

.single-contact .last-access {   
    font-size: 11px;
}




/* RIGHT COLUNM */
#app-right-cl {    
    width: calc(100% - 400px);
    height: 100%;
    overflow: hidden;   
}

/* MAIN */
main {
    background-image: url("../img/mine.jpg");    
    height: calc(100% - 120px);
    overflow-y: auto;
}

.messages {
    padding: 20px;
}

.messages .msg-box {
    min-width: 250px;
    max-width: 330px;
    background-color: white;
    border-radius: 5px; 
    padding: 5px;  
    clear: both;
    position: relative;
    margin-bottom: 10px;;
    
}

.messages .msg-text {
    font-size: 12px;
    padding: 20px;
}

.messages .msg-date {
    font-size: 10px;
    font-weight: 100;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.messages .msg-box.sent {
    background-color: #d5f9ba;
    float: right;
}

.messages .msg-box.received {
    background-color: white;
    float: left;
}

.messages .msg-options {
    position: absolute;
    top: 15px;
    right: 5px;
    cursor: pointer;
    display: none;
}

.messages .msg-box:hover .msg-options {
    display: block;
}

.messages .msg-options i {
    font-size: 12px;    
}

.messages .options {
    list-style-type: none;
    background-color: white;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1;
    font-size: 13px;
    padding: 0 15px;
    border-radius: 5px;
    
}

.messages .options li {
    padding: 5px 0;
    cursor: pointer;
}


/* FOOTER */
footer {
    background-color: #f3eeea;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

#input-text {
    width: 88%;
    border: 0;
    padding: 10px;
}




